esquemaSprint4.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipo" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>EQUIPO 1  EQUIPO 2  EQUIPO 3  EQUIPO 4</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombreequipo"/>
              <xs:element type="xs:byte" name="posicion"/>
              <xs:element name="jugador" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombrejugador"/>
                    <xs:element type="xs:byte" name="edad"/>
                    <xs:element type="xs:short" name="sueldo"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="tipo" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>